body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.staff-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 10px 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 24px;
}

.brand {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.menu li:hover {
  color: #ffcc00;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  padding: 6px 12px;
  background-color: #ffffff;
  color: #004080;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  cursor: pointer;
}

.dashboard-content {
 padding: 30px;
 flex-grow: 1;
}

.dashboard-content h2 {
  margin-bottom: 24px;
  font-size: 22px;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #e6f0ff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
}

.card1 {
  background-color: #e6f0ff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
